body {
  background-color:white;
}

.box {
  background-color:pink;
  height:100px;
  width:100px;
  font-size: 5em;
  float:right;

}



.hidden{
  display:none;
  position: absolute;
}

.frame{
  width:300px;
  height:300px;
  top: 100px;
}

.top{
z-index: 1000;
}






